h1,
h2,
h3,
ol,
ul,
p,
fieldset,
code,
blockquote,
hr {
    @apply mb-3;
}

h1,
.title_1 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl;
    line-height: 2.5rem;
}

h1 {
    @apply border-b-4 border-l-4 border-primary pl-1;
}

h2,
.title_2 {
    @apply text-base font-bold md:text-lg lg:text-xl xl:text-2xl;
    line-height: 1.5rem;
}

h2 {
    @apply border-b-2 border-l-2 border-primary pl-1;
}

h3,
.title_3 {
    @apply text-xs font-bold md:text-sm lg:text-base xl:text-lg;
    line-height: 1rem;
}

h3 {
    @apply border-b border-l border-primary pl-0.5;
}

ul,
ol {
    @apply ml-3;
}

ul > li {
    @apply list-inside list-disc;
}

ol > li {
    @apply list-inside list-decimal;
}

code {
    @apply mockup-code mx-auto w-full bg-base-300 text-base-content md:w-3/4;
}

fieldset {
    @apply mx-auto flex w-full flex-col space-y-2 border border-secondary px-3 pb-3 md:w-3/4;
}

fieldset > legend {
    @apply border border-primary px-3 font-bold;
}

fieldset > * {
    @apply mb-0;
}

blockquote {
    @apply mx-auto w-full md:w-3/4;
}

blockquote > p {
    @apply m-0 bg-base-200 px-3 pb-3 indent-10 text-base-content;
}

blockquote > p:first-of-type {
    @apply rounded-t-md pt-3;
}

blockquote > p:last-of-type {
    @apply rounded-b-md;
}

blockquote > cite {
    @apply ml-5 font-bold italic;
}

strong,
b {
    @apply font-bold;
}

i,
em {
    @apply italic;
}

img {
    line-height: 0;
}

hr {
    @apply border-primary;
}
