@tailwind base;
@tailwind components;
@tailwind utilities;

/*########## MAIN TAG CHANGES ##########*/

html,
body {
    @apply min-h-screen h-fit w-full font-mono;
}

body {
    @apply flex flex-col;
}

header,
main,
footer {
    @apply bg-base-100 rounded-xl border border-black drop-shadow-md p-2 m-1;
}

nav a {
    @apply flex-grow px-2 py-1 hover:bg-gradient-to-r from-base-100 to-accent;
}

nav a:last-child {
    @apply rounded-b-xl md:rounded-bl-xl;
}

h1,
h2,
h3,
ol,
ul,
p,
fieldset,
code,
blockquote {
    @apply mb-3;
}

aside ol,
aside ul,
header ol,
header ul {
    @apply m-0;
}

aside a:hover,
header a:hover {
    @apply no-underline;
}

/*########## TYPOGRAPHY CHANGES ##########*/

h1 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold border-b-4 border-l-4 border-primary pl-1;
    line-height: 2.5rem;
}

h2 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl font-bold border-b-2 border-l-2 border-primary pl-1;
    line-height: 1.5rem;
}

h3 {
    @apply text-xs md:text-sm lg:text-base font-bold border-b border-l border-primary pl-0.5;
    line-height: 1rem;
}

ul,
ol {
    @apply ml-3;
}

ul>li {
    @apply list-disc list-inside;
}

ol>li {
    @apply list-decimal list-inside;
}

a {
    @apply text-primary;
}

a:hover {
    @apply underline;
}

code {
    @apply mockup-code bg-base-300 text-base-content mx-auto w-full md:w-3/4;
}

fieldset {
    @apply border border-secondary flex flex-col space-y-2 mx-auto w-full md:w-3/4 px-3 pb-3;
}

fieldset>legend {
    @apply font-bold px-3 border border-primary;
}

fieldset>* {
    @apply mb-0;
}

blockquote {
    @apply mx-auto w-full md:w-3/4;
}

blockquote>p {
    @apply bg-base-200 text-base-content px-3 m-0 pb-3 indent-10;
}

blockquote>p:first-of-type {
    @apply rounded-t-md pt-3;
}

blockquote>p:last-of-type {
    @apply rounded-b-md;
}

blockquote>cite {
    @apply font-bold italic ml-5;
}

/*########## CLASSES ##########*/

.lg-title {
    @apply text-xs md:text-sm lg:text-base xl:text-lg font-bold;
    line-height: 1.25rem;
}

.xl-title {
    @apply text-sm md:text-base lg:text-lg xl:text-xl font-bold;
    line-height: 1.5rem;
}